swagger: "2.0"
info:
  description: "IPSC training app for storing exercises, splits and descriptions of exercises with images"
  version: "1.0.0"
  title: "IPSC Trainer"
  termsOfService: "http://swagger.io/terms/"
  contact:
    email: "apiteam@swagger.io"
  license:
    name: "Apache 2.0"
    url: "http://www.apache.org/licenses/LICENSE-2.0.html"
host: "ipsc.skaugeconsult.net"
basePath: "/v1"
tags:
- name: "drillDefinition"
  description: "Everything about your drill definitions"
  externalDocs:
    description: "Find out more"
    url: "http://swagger.io"
- name: "DrillDetails"
  description: "Access Drill definition"
- name: "user"
  description: "Operations about user"
  externalDocs:
    description: "Find out more about our drills"
    url: "http://swagger.io"
schemes:
- "https"
- "http"
paths:
  /drill/{id}:
    get:
      tags:
      - "drill"
      summary: "Get a drill from the database by id"
      description: ""
      operationId: "getDrillById"
      consumes:
      - "application/json"
      - "application/xml"
      produces:
      - "application/xml"
      - "application/json"
      parameters:
      - in: "path"
        name: "id"
        description: "ID of drill to return"
        required: true
        type: "integer"
        format: "int64"
     
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/Drill"
        400:
          description: "Invalid ID supplied"
        404:
          description: "Drill not found"
      # security:
      # - drill_auth:
      #   - "read:drill"  
  /drill:        
    get:
      tags:
      - "drill"
      summary: "Add a new drill to the database"
      description: ""
      operationId: "getDrills"
      consumes:
      - "application/json"
      - "application/xml"
      produces:
      - "application/xml"
      - "application/json"
      responses:
        200:
          description: "successful operation"
          schema:
            type: array
            items:
              $ref: "#/definitions/Drill"
        400:
          description: "Invalid ID supplied"
        404:
          description: "Drill not found"
      # security:
      # - drill_auth:
      #   - "read:drill"  
    post:
      tags:
      - "drill"
      summary: "Add a new drill to the database"
      description: ""
      operationId: "addDrill"
      consumes:
      - "application/json"
      - "application/xml"
      produces:
      - "application/xml"
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        description: "Drill object that needs to be added to the store"
        required: true
        schema:
          $ref: "#/definitions/Drill"
      responses:
        405:
          description: "Invalid input"
      # security:
      # - drill_auth:
      #   - "write:drill"
      #   - "read:drill"
    put:
      tags:
      - "drill"
      summary: "Update an existing drill"
      description: ""
      operationId: "updateDrill"
      consumes:
      - "application/json"
      - "application/xml"
      produces:
      - "application/xml"
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        description: "Drill object that needs to be added to the store"
        required: true
        schema:
          $ref: "#/definitions/Drill"
      responses:
        400:
          description: "Invalid ID supplied"
        404:
          description: "Drill not found"
        405:
          description: "Validation exception"
      # security:
      # - drill_auth:
      #   - "write:Drills"
      #   - "read:Drills"
    delete:
      tags:
      - "drill"
      summary: "Delete an existing drill"
      description: ""
      operationId: "deleteDrill"
      consumes:
      - "application/json"
      - "application/xml"
      produces:
      - "application/xml"
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        description: "Drill object that needs to be deleted from the database"
        required: true
        schema:
          $ref: "#/definitions/Drill"
      responses:
        400:
          description: "Invalid ID supplied"
        404:
          description: "Drill not found"
        405:
          description: "Validation exception"
      # security:
      # - drill_auth:
      #   - "write:drill"
      #   - "read:drill"  
      #   - "delete:drill"      
  /drill/details/{id}:
    get:
      tags:
      - "drilldetails"
      summary: "Add a new drill to the database"
      description: ""
      operationId: "getDrillDetailsById"
      consumes:
      - "application/json"
      - "application/xml"
      produces:
      - "application/xml"
      - "application/json"
      parameters:
      - in: "path"
        name: "id"
        description: "ID of drillDetails to return"
        required: true
        type: "integer"
        format: "int64"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/DrillDetails"      
        405:
          description: "Invalid input"
      # security:
      # - drill_auth:
      #   - "read:drilldetails"  
  /drill/details:        
    post:
      tags:
      - "drilldetails"
      summary: "Add a new drill to the database"
      description: ""
      operationId: "addDrillDetails"
      consumes:
      - "application/json"
      - "application/xml"
      produces:
      - "application/xml"
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        description: "DrillDetials object that needs to be added"
        required: true
        schema:
          $ref: "#/definitions/DrillDetails"
      responses:
        405:
          description: "Invalid input"
      # security:
      # - drill_auth:
      #   - "write:drilldetails"
      #   - "read:drilldetails"
    put:
      tags:
      - "drilldetails"
      summary: "Update an existing drill details"
      description: ""
      operationId: "updateDrillDetails"
      consumes:
      - "application/json"
      - "application/xml"
      produces:
      - "application/xml"
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        description: "Drill object that needs to be added to the store"
        required: true
        schema:
          $ref: "#/definitions/DrillDetails"
      responses:
        400:
          description: "Invalid ID supplied"
        404:
          description: "Drill not found"
        405:
          description: "Validation exception"
      # security:
      # - drill_auth:
      #   - "write:DrillDetails"
      #   - "read:DrillDetails"
    delete:
      tags:
      - "drilldetails"
      summary: "Delete an existing drill details"
      description: ""
      operationId: "deleteDrillDetails"
      consumes:
      - "application/json"
      - "application/xml"
      produces:
      - "application/xml"
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        description: "Drill object that needs to be added to the store"
        required: true
        schema:
          $ref: "#/definitions/DrillDetails"
      responses:
        400:
          description: "Invalid ID supplied"
        404:
          description: "Drill not found"
        405:
          description: "Validation exception"
      # security:
      # - drill_auth:
      #   - "delete:DrillDetails"        
  /training:
    get:
      tags:
      - "training"
      summary: "Finds all trainings for current user"
      description: "Muliple tags can be provided with comma separated strings. Use         tag1, tag2, tag3 for testing."
      operationId: "getAlltTraining"
      produces:
      - "application/xml"
      - "application/json"
      responses:
        200:
          description: "successful operation"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Training"
        400:
          description: "Invalid tag value"
      # security:
      # - drill_auth:
      #   - "read:training"
    post:
      tags:
      - "training"
      summary: "Add a new training to the database"
      description: ""
      operationId: "addTraining"
      consumes:
      - "application/json"
      - "application/xml"
      produces:
      - "application/xml"
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        description: "Training details to add"
        required: true
        schema:
          $ref: "#/definitions/Training"
      responses:
        405:
          description: "Invalid input"
      # security:
      # - drill_auth:
      #   - "write:training"
      #   - "read:training"
    put:
      tags:
      - "training"
      summary: "Update an existing training"
      description: ""
      operationId: "updateTraining"
      consumes:
      - "application/json"
      - "application/xml"
      produces:
      - "application/xml"
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        description: "Training object that needs to be added to the database"
        required: true
        schema:
          $ref: "#/definitions/Training"
      responses:
        400:
          description: "Invalid ID supplied"
        404:
          description: "Training not found"
        405:
          description: "Validation exception"
      # security:
      # - drill_auth:
      #   - "write:training"
      #   - "read:training"      
    delete:
      tags:
      - "training"
      summary: "Delete an existing training"
      description: ""
      operationId: "deleteTraining"
      consumes:
      - "application/json"
      - "application/xml"
      produces:
      - "application/xml"
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        description: "Training object that needs to be added to the database"
        required: true
        schema:
          $ref: "#/definitions/Training"
      responses:
        400:
          description: "Invalid ID supplied"
        404:
          description: "Training not found"
        405:
          description: "Validation exception"
      # security:
      # - drill_auth:
      #   - "write:training"
      #   - "read:training"      
      #   - "delete:training" 
  /training/{id}:   
    get:
      tags:
      - "training"
      summary: "Find training by ID"
      description: "Returns a list of training"
      operationId: "getTrainingById"
      produces:
      - "application/xml"
      - "application/json"
      parameters:
      - name: "id"
        in: "path"
        description: "ID of training to return"
        required: true
        type: "integer"
        format: "int64"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/Training"
        400:
          description: "Invalid ID supplied"
        404:
          description: "Training not found"
      # security:
      # - api_key: []           
# securityDefinitions:
#   drill_auth:
#     type: "oauth2"
#     authorizationUrl: "http://driller.swagger.io/oauth/dialog"
#     flow: "implicit"
#     scopes:
#       write:drill: "modify drills in your account"
#       read:drill: "read your Drills"
#   api_key:
#     type: "apiKey"
#     name: "api_key"
#     in: "header"
definitions:
  Training:
    type: "object"
    properties:
      id:
        type: "integer"
        format: "int64"
      drillsDetails:
        type: array
        items: 
           $ref: '#/components/schemas/DrillDetails'
      drillDate:
        type: "string"
       # format: "date-time"
    xml:
      name: "Traning"
  DrillDetails:
    type: "object"
    properties:
      id:
        type: "integer"
        format: "int64"
      drills:
        type: array
        items:
          $ref: '#/components/schemas/Drill'
      splits:
        array:
          items:
            type: double
    xml:
      name: "DrillDetails"
  Drill:
    type: "object"
    properties:
      id: 
        type: "integer"
        format: "int64"
      name: 
        type: "string"
      targetAmount: 
        type: "integer"
        format: "int64"
      description:
        type: "string"
        desccription: "Description of the drill"
      image:
        type: "string"
        descritption: "Path to image"  
    xml:
      name: "Drill"

  User:
    type: "object"
    properties:
      id:
        type: "integer"
        format: "int64"
      username:
        type: "string"
      firstName:
        type: "string"
      lastName:
        type: "string"
      email:
        type: "string"
      password:
        type: "string"
        format: "password"
      phone:
        type: "string"
      userStatus:
        type: "integer"
        format: "int32"
        description: "User Status"
      active:
        type: "boolean"
        default: false
    xml:
      name: "User"
  
  ApiResponse:
    type: "object"
    properties:
    
      code:
        type: "integer"
        format: "int32"
      type:
        type: "string"
      message:
        type: "string"
externalDocs:
  description: "Find out more about Swagger"
  url: "http://swagger.io"
